.innovative-container{
  width: 100%;
  background: transparent;
}

.innovative-container h1{
  font-weight: 900;
  font-size: 43px;
  margin: 0px;
  line-height: 54px;
  color: #FFF;
}


.innovative-container p{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  line-height: 35px;
  color: #646D70;
}

.innovative-container div:first-child{
  margin: 94px 140px 112px 144px;
}

.innovative-container .info{
  margin-top: 15px;
  display: flex;
}

.innovative-container .info p:last-child{
  margin-left: 61px;
}
