*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-size: 18px;
}

.sizing_head{
  padding: 0px 0px 40px 0px;
}

.sizing_span_1{
	display: block;
}

.sizing_a_1{
	display: block;
	border: 1px solid black;
  margin: 0px 0px 40px 0px;
}

.div_sizing_2{
	padding: 0px 0px 40px 0px;
	border: 1px solid black;
}
.div_sizing_3{
	display: block;
	margin: 40px 0px;
}

.inline{
	display: inline;
}

.inline_2{
	display: inline;
}
.div_sizing_4{
	display: block;
	margin: 0px 0px 40px 0px;
	
}

.inline_span{
	
	padding: 0px 40px 0px 40px;
	border: 1px solid black;
	margin: 0px 40px 0px 40px ;
}
.inline_a{
	padding: 0px 40px 0px 0px;
	border: 1px solid black;
}

.span_last{
   display: block;
   border: 1px solid black;
   padding: 40px 0px 40px 0px;

}