.open{
    display: flex !important;
  
}
.hero {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 750px;
    width: 100%;
    background: url('../images/Bitmap.png') lightgray 0px 0px / 100% 100% no-repeat;
    background-size: cover;       
    background-position: center;
}


.header{
    width: 90%;
}

.container{
    width: 90%;
    flex-direction: column;
    
    gap: 200px;
    display: flex;
    align-items: center;
}


.hero .container .header_nav {
   
       
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-top: 37px;
    justify-content: space-between;
    max-width: 2200px;
    height: 34px;
    flex-shrink: 0;
}

.hero .container .header_nav .header_nav-logo {
    display: flex;
    width: 135px;
    height: 25.833px;
    padding: 0px 0.051px 0px 0.156px;
    justify-content: center;
    align-items: center;
    gap: 6.066px;
    flex-shrink: 0;
    p{
        fill: #FFF;
        width: 96.067px;
        height: 15.313px;
        flex-shrink: 0;
    }
}

.burger.fixed{
    position: fixed;
    top: 40px;
    right: 40px;
}

.burger{
        display: none;
        position: relative; 
        z-index: 50; 
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
        transition: all 0.3s ease;
    
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FFF;
    
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFF;
    transition: all 0.3s ease 0s;
}

.burger::before {top:0}
.burger::after {bottom: 0;}

.burger.active span {transform: scale(0);}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
 
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media screen and (max-width: 899px){ 
    .header_nav_list.open {
        display: flex ;
    }
    .burger{
        
        display: flex;

    }
    .header-nav-item-button{
        display: flex;
        justify-content: center ;
    }
    .header_nav_list{
        display: none;
       
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: darkgrey;
        justify-content: center;
        
        ul{
            
            margin-bottom: auto;
            
            display: flex;
            justify-content: center;
            flex-direction: column !important;
            row-gap: 80px !important;
            width: 40%;
        }

        a{
            border-radius: 10px;
            display: block;
            background-color: lightslategrey;
            color: #FFF;
            text-align: center;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: all 0.3s ease;
        }
        
    }
}

.header_nav_list li:hover{
    transition: all 0.3s ease;

}

.header_nav_list a:hover {
    transition: all 0.3s ease;
    color: aquamarine; /* Зміна кольору тексту на золотистий */
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Додаємо тінь */
}

.header_nav_list a:active {
    border-radius: 5px;
    background-color: #b4b3b3; /* Темніший фон при кліку */
}

@media screen and (min-width: 899px){
.hero .container .header_nav .header_nav_list {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    
   
    
    gap: 34px;
    a{
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    ul{
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
}
}

.hero .container .header_nav .header-nav-item-button a{
      font-feature-settings: 'liga' off, 'clig' off;
      color: #606B74;
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      
      display: inline-block; /* Makes it behave more like a button */
      width: 90px;
      height: 34px;
      text-align: center;
      line-height: 34px; /* Vertical centering */
      border-radius: 4px;
      background:  #FFF;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: #606B74;
        color: #FFF;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  }
  

.container_hero{
    gap: 50px;
    display: flex;
    justify-content: center;
    max-width: 808px;
}

.container_hero .container_hero_left{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    
    span{
        opacity: 0.8;
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Label / Bold */
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    p{
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Headers / H2 */
        font-family: Merriweather;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;}
}


.container_hero .container_hero_right {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.container_hero .container_hero_right p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


