.innovative {
    margin: auto;
    width: 100%;
    height: 270px;
    background: #26353B;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.innovative .container_innovative {

    width: 90%; /* Use percentage width */
    max-width: 808px; /* Set a maximum width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.innovative .container_innovative .innovative_container_undertext {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 11px;
    p {
        opacity: 0.7;
        color: var(--Greys-White, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Rubik;
        font-size: 1rem; /* Use rem for responsive fonts */
        font-weight: 400;
        line-height: 1.7; /* Adjust line-height */
        width: 45%; /* Use percentage-based width */
    }
}

.container_innovative span {
    color: var(--Greys-White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Merriweather;
    font-size: 2rem; /* Use rem for responsive font */
    font-weight: 900;
    line-height: normal;
}